button {
  width: 254px;
  height: 36px;
  background: #000;
  color: white;
  border-radius: 7px;
  font-size: large;
  
}
form input {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 35px;
  border-radius: 7px;
}
.details p {
  font-size: small;
  opacity: 0.5;
}
.form {
  border: 3px solid;
  width: 270px;
  padding: 30px 30px;
  border-radius: 15px;
}
.form p {
  opacity: 0.5;
}
.search {
  width: 254px;
  height: 36px;
  border-radius: 6.5px;
}
.right {
  display: flex;
  justify-content: start;
}
.details h1 {
  font-size: 50px;
  font-weight: 900;
}
th{
  padding: 0px 20px;
  
}
table {
  border-collapse: separate;
  border-spacing: 50px;
  
}

.detals h1{
  font-size: 100px;
  font-weight: bolder;
}
.delete-btn {
  width: 100px;
}

